
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

/travelco_doctor_updates_v2_lib/
/travelco_fixed_lib/
/travelco_doctor_updates_v2_lib.zip

.dart_tool/
.idea/
build/
**/.gradle/
**/.kotlin/
**/flutter/ephemeral/
*.iml